/*
  File origin: VS1LAB A1b  

  CSS style is BEM. Classes used for CSS, IDs for JavaScript querying (future use).
  CSS variables used for clarity and themability (e.g. through SSR). 
  Inherited box sizing used for ease of including 3rd party content-box components.
*/

/* Global styling */

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;

  /* This approach prevents issues with 3rd party content-box components */
  box-sizing: inherit;
}


/* Variables (example: see declaration for "a" below) */

:root {
  --link-color: #00B7FF;
  --background-color: #efefef;
  --border-color: #cdcdcd;
  --gray-color: #666;
}


/* HTML element styles */

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: var(--link-color);
}

/* ### TODO ### Styles for other HTML elements */

/* ... your code here ... */



/* Grid styles (no changes required) */

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.col-1 {
  width: calc(8.33% - 1rem);
}

.col-2 {
  width: calc(16.66% - 1rem);
}

.col-3 {
  width: calc(25% - 1rem);
}

.col-4 {
  width: calc(33.33% - 1rem);
}

.col-5 {
  width: calc(41.66% - 1rem);
}

.col-6 {
  width: calc(50% - 1rem);
}

.col-7 {
  width: calc(58.33% - 1rem);
}

.col-8 {
  width: calc(66.66% - 1rem);
}

.col-9 {
  width: calc(75% - 1rem);
}

.col-10 {
  width: calc(83.33% - 1rem);
}

.col-11 {
  width: calc(91.66% - 1rem);
}

.col-12 {
  width: calc(100% - 1rem);
}


/* ### TODO ### Styles for Header Component */

.header{
  height: 120px;
  background-color: rgb(237, 236, 236);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 5%;
  padding-left: 5%;
  border-bottom: solid rgb(197, 197, 197) 1px;
}

.header__image {
  height: 50%;
  width: auto;
  padding: 1%;
}

/* ### TODO ### Styles for Main Component */

.main {
  padding: 3%;
}

input:read-only{
  background-color: rgb(237, 236, 236);
}

/* ### TODO ### Styles for Tagging component */

#tag-form {
  padding-top: 10px;
}

.fieldset__tagging {
  padding: 10px;
  border: solid 1px rgb(197, 197, 197);
}


.fieldset__tagging label {
  color: rgb(133, 133, 133);
}

.fieldset__tagging input{
  display: block;
  padding: 5px;
  border: solid 1px rgb(197, 197, 197);
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
  height: 40px;
}

/* ### TODO ### Styles for Discovery component */

#discoveryFilterForm {
  padding-top: 10px;
}

.fieldset__discovery {
  padding: 10px;
  border: solid 1px rgb(197, 197, 197);
}

.fieldset__discovery label {
  color: rgb(133, 133, 133);
  display: block;
}

.fieldset__discovery input{
  padding: 5px;
  border: solid 1px rgb(197, 197, 197);
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
  height: 40px;
}

.fieldset__discovery input {
  width: 30%;
  display: block;
}

.discovery__wrapper {
  display: flex;
  margin-top: 3%;
}

li {
  color: #00B7FF;
  background-color: rgb(237, 236, 236);
  list-style-type: none;
  margin-bottom: 10px;
  padding: 10px;
  border: solid 1px rgb(197, 197, 197);
  padding-right: 3%;
}

.discovery__map {
  padding-left: 3%;
  float: right;
  display: flex;
  flex-direction: column;
}

/* ### TODO ### Styles for Footer Component */

.footer{
  background-color: rgb(237, 236, 236);
  padding-left: 4%;
  padding-top: 2%;
  padding-bottom: 2%;
  border-top: solid rgb(197, 197, 197) 1px;
}

/* ### TODO ### Media Queries */

@media (850px >= width) {
  main{
    display: block;
  } 
  .row {
    display: block;
    width: 100%;
  }
  .col-3 {
    width: 100%;
  }
  .col-9 {
    padding-top: 10px;
    width: 100%;
  }
  .discovery__wrapper{
    display: block;
  }
  .col-6 {
    width: 100%;
  }
}